[submodule "Ecdar-GUI-Web"]
	path = Ecdar-GUI-Web
	url = https://github.com/Ecdar/Ecdar-GUI-Web
[submodule "Ecdar-ProtoBuf"]
	path = Ecdar-ProtoBuf
	url = https://github.com/Ecdar/Ecdar-ProtoBuf
	branch = SW5
